@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Orbitron', sans-serif;
  color: rgb(255, 241, 208);
}

a {
font-size: 1.2rem;
padding: 0 1rem;
text-decoration: none;
}

a:visited {
  color: rgb(255, 241, 208);
}